[submodule "themes"]
	path = themes
	url = ../pelican-themes.git
[submodule "plugins"]
	path = plugins
	url = ../pelican-plugins.git
[submodule "content"]
	path = content
	url = ../pelican-content.git
